@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome
        @(
        Context.Session.TryGetValue("IdentityNumber",out byte[] identityNumber) ?
        System.Text.Encoding.UTF8.GetString(identityNumber):
        string.Empty
        )
    </h1>
</div>
